.contact__body {
}

.contact__title {
  margin-bottom: 32px;
  h2 {
    font-family: 'Oddval';
    font-size: 36px;
    line-height: 55px;
    color: #222222;
	 @media (max-width: 1238px){
text-align: center;
	 }
    @media (max-width: 750px) {
      font-size: 32px;
    }
    @media (max-width: 410px) {
      font-size: 24px;
    }
  }
}

.social-contact {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
  text-align: center;
  width: 40%;
  min-width: 300px;
  margin: 0 auto;
  gap: 3%;
  @media (max-width: 930px) {
    width: 60%;
  }
  @media (max-width: 670px) {
    width: 80%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
  @media (max-width: 400px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__link {
    flex: 1;
    img {
      background: #ffc800;
      border-radius: 16px;
      padding: 20px;
      @media (max-width: 500px) {
        padding: 12px;
      }
		@media (max-width: 400px){
			padding: 20px;
		}
      &:hover {
        background: #222222;
        border-radius: 16px;
        transition: all 0.5s ease-out;
      }
    }
    p {
      font-size: 16px;
      line-height: 20px;
      color: #222222;
    }
  }
}
