.footer__body{
	display: flex;
}
.footer__logo{
	display: flex;
	align-items: center;
	margin-right: 20%;
	@media (max-width: 890px) {
	  margin-right: 10%;
	}
	@media (max-width: 790px) {
	  margin-right: 6%;
	}
	img {
	}
	h2 {
	  padding-top: 23px;
	  font-family: 'oddval';
	  font-size: 32px;
	  line-height: 49px;
	  color: #222222;
	}
}

