.footer {
  background-color: #f3f3f3;
}

.footer__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 44px 47px;
  gap: 5%;
  justify-content: space-between;
  @media (max-width: 703px) {
    row-gap: 20px;
  }
  @media (max-width: 870px) {
    padding: 14px 17px;
  }
}
.footer__logo {
  display: flex;
  img {
  }
  h2 {
    padding-top: 14px;
    font-family: 'oddval';
    font-size: 32px;
    line-height: 49px;
    color: #222222;
  }
}

.nav-footer {
  &__title {
    margin-bottom: 16px;
    h4 {
      font-weight: 700;
      line-height: 20px;
      color: #222222;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__item {
    line-height: 20px;
    color: #222222;
  }
}

.requisites-footer {
  &__title {
    margin-bottom: 16px;
    h4 {
      font-weight: 700;
      line-height: 20px;
      color: #222222;
    }
  }
  &__image {
    margin-bottom: 6px;
  }

  &__carta {
    margin-bottom: 24px;
    h4 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #222222;
    }
    p {
      line-height: 20px;
    }
  }
}

.contacts-footer {
  @media (max-width: 870px) {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 16px;
    h4 {
      font-weight: 700;
      line-height: 20px;
      color: #222222;
    }
  }
  &__network {
    display: flex;
    gap: 17%;
  }
}
