.lucky {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.lucky__title {
  margin-bottom: 32px;
  h2 {
    font-family: 'Oddval';
    font-size: 36px;
    line-height: 55px;
    color: #222222;
  }
}

.lucky__body {
  display: flex;
  gap: 40px;
}
