.lucky {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  @media (max-width: 805px){
	margin-bottom: 44px;
  }
  @media (max-width: 400px){
	margin-bottom: 34px;
  }
}

.lucky__body {
}

.swiper {
  .swiper-pagination-bullet-active {
    background: #ffffff;
  }
  .swiper-pagination-bullet {
    border-radius: 8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #ffffff;
  }
}

.lucky__title {
  margin-bottom: 32px;
  h2 {
    font-family: 'Oddval';
    font-size: 36px;
    line-height: 55px;
    color: #222222;
	 @media (max-width: 1000px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media (max-width: 390px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
