.cardlucky {
  max-width: 376px;
  position: relative;
}

.cardlucky__img {
  img {
    border-radius: 15px;
    width: 100%;
  }
}

.cardlucky__text {
  background: #222222;
  border-radius: 105px;
  max-width: 141px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 32px;
  padding: 4px 16px;
  p {
    font-family: 'Oddval';
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: #f3f3f3;
  }
}
