.lucky {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.lucky__body {
}

.swiper {
  .swiper-pagination-bullet-active {
    background: #ffffff;
  }
  .swiper-pagination-bullet {
	border-radius: 8px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #ffffff;
 }
}

.lucky__title {
  margin-bottom: 32px;
  h2 {
    font-family: 'Oddval';
    font-size: 36px;
    line-height: 55px;
    color: #222222;
  }
}
