.shelters {
  display: flex;
  align-items: center;
  position: relative;
  background: #ffc800;
  width: 100%;
  height: 80vh;
  min-height: 500px;
  max-height: 1600px;
  @media (max-width: 1130px) {
    height: auto;
    flex-direction: column-reverse;
  }
  @media (max-width: 620px) {
    height: 100%;
  }
}

.shelters__body {
  @media (max-width: 1280px) {
  }
}

.info-shelters {
  max-width: 40%;
  @media (max-width: 1130px) {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-family: 'Oddval';
    font-size: 64px;
    line-height: 99px;
    color: #222222;
    @media (max-width: 1130px) {
      font-size: 44px;
      line-height: 69px;
    }
    @media (max-width: 805px) {
      font-size: 30px;
      line-height: 35px;
    }
    @media (max-width: 475px) {
      font-size: 25px;
      line-height: 30px;
    }
  }
  &__text {
    margin-bottom: 64px;
    font-size: 32px;
    line-height: 39px;
    color: #222222;
    @media (max-width: 1130px) {
      margin-bottom: 39px;
      font-size: 25px;
    }
    @media (max-width: 805px) {
      margin-bottom: 9px;
    }
    @media (max-width: 620px) {
      font-size: 18px;
    }
  }
  &__btn {
    @media (max-width: 1130px) {
      margin-bottom: 19px;
    }
    img {
      padding-right: 10px;
    }
    span {
      font-family: 'Oddval';
      font-size: 24px;
      line-height: 37px;
    }
  }
}

.shelters__swiper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 55%;
  @media (max-width: 1130px) {
    position: static;
    width: 100%;
  }
  &::after {
    content: '';
    background-image: url(/img/home/fur.png);
    position: absolute;
    top: 0;
    left: -2.3px;
    height: 100%;
    width: 11%;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media (max-width: 1130px) {
      display: none;
    }
  }
}
