.swiper {
  position: relative;
  height: 100%;
}

.lucky__title {
  h2 {
    font-family: 'Oddval';
    font-style: normal;
    font-size: 36px;
    line-height: 55px;
    color: #222222;
  }
}

.swiper__body {
}

.swiper-backgraund__img {
  width: 100%;
  height: 80vh;
  min-height: 600px;
  object-fit: cover;
  img {
  }
}
