.sliders {
  margin-bottom: 64px;
}
.sliders__title {
  margin-bottom: 32px;
  h2 {
    font-family: 'Oddval';
    font-size: 36px;
    line-height: 55px;
    color: #222222;
    @media (max-width: 1238px) {
      text-align: center;
    }
    @media (max-width: 805px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media (max-width: 390px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

.sliders__body {
  .swiper-button-next {
    &::after {
      content: '';
      position: absolute;
      background-image: url(/img/home/slider_arrow_right.png);
      top: 0;
      right: 0;
      height: 65px;
      width: 65px;
      z-index: 1000;
      background-repeat: no-repeat;
    }
  }
  .swiper-button-prev {
    color: #ffffff;
    top: var(--swiper-navigation-top-offset, 45%);
    &::after {
      content: '';
      background-image: url(/img/home/slider_arrow_left.png);
      position: absolute;
      top: 0;
      left: 0;
      height: 65px;
      width: 65px;
      z-index: 1000;
      background-repeat: no-repeat;
    }
  }
  .swiper {
    &-slide {
      display: flex;
      height: auto;
    }
  }
}
